* {
    font-family: monospace;
    font-size: 12px;
}

.modules-left {
    padding-left: 4px;
}

.modules-right {
    padding-right: 4px;
}

.module {
    padding: 4px;
}

#workspaces button {
    color: #888888;
}

#workspaces button.active {
    color: #ffffff;
}
